pandas~=1.4.3
geopandas~=0.10.2
numpy~=1.22.3
matplotlib~=3.5.1
scikit-learn~=1.2.2
networkx~=2.8
python-louvain~=0.16
infomap~=2.5.0
Shapely~=1.8.1.post1
scipy~=1.8.0
regex~=2022.10.31
pygraphviz~=1.9
pygeos~=0.12.0
